doctype html
meta charset="utf-8"
link rel="preconnect" href="https://fonts.googleapis.com"
link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""
link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
link rel="stylesheet" href="/taxonomy/themes/mdn-yari.css"
script src="/taxonomy/app.mjs" type="module"
