.page-wrapper.document-page
  header.top-navigation
    .container
      .theme-switcher-menu
        button.button.action.has-icon.small.light-mode type="button"
          .material-symbols-outlined.right light_mode
        button.button.action.has-icon.small.dark-mode type="button"
          .material-symbols-outlined.right dark_mode

  .article-actions-container
    .container
  .article-wrapper
    .toc
      aside.document-toc-container
        section.document-toc
          header
            h2.document-toc-heading Eszközök
          ul#toc-entries.document-toc-list
    main.main-content role="main"
      article.main-page-content
        #content

          h1 Élőlények, magyarul.
          p
            ' A
            a> href="https://jasen.org.rs/hu" Kőris Környezetvédelmi Alapítvány
            ' által összegyűjtött, hivatkozásokkal ellátott lista az élőlények magyar neveiről. A lista elsősorban a
            ' szakirodalomban használt neveket tartalmazza.

          h2#elolenyek
            ' Táblázat:
            span data-tpl="{common_names.count} élőlény magyar neve"
              | élőlények magyar nevei

          #common-names.toggle-caps
            .toolbar
              input#filter type="text" placeholder="[ / ] szűrő" tabindex=4 spellcheck=false autocomplete=false
              button#refresh-all.button.has-icon.small.tooltip type="button" tabindex=3 data-tooltip="Adatok frissítése"
                span.material-symbols-outlined refresh
              button#toggle-articles.button.has-icon.small.tooltip type="button" tabindex=2 data-tooltip="Névelő mutatása/elrejtése"
                span.material-symbols-outlined font_download
              button#toggle-caps.button.has-icon.small.tooltip type="button" tabindex=1 data-tooltip="Nagy/kis kezdőbetű"
                span.material-symbols-outlined text_fields

            .table
              | Adatok betöltése folyamatban…

.page-footer
  .page-footer-legal
    p.page-footer-legal-text
      span.theme-name
        ' Theme:
      span.placeholder
        '  —
      | , licensed under
      span.theme-license<
      span.placeholder
        '  —
      | .
