@import "external/mdn_yari/client/src/app"
@import "external/mdn_yari/client/src/document/index"
@import "external/mdn_yari/client/src/document/organisms/toc"
@import "external/mdn_yari/client/src/ui/organisms/footer"

/* Page layout. */
@media screen and (min-width: 769px)
  .article-wrapper
    grid-template-areas: "main"
    grid-template-columns: minmax(0, 1fr)

@media screen and (min-width: 1200px)
  .article-wrapper
    grid-template-areas: "main toc"
    grid-template-columns: minmax(0, 2.5fr) minmax(0, 15rem)

/* Theme switcher. */
@media (prefers-color-scheme: light)
  body:not(.dark)
    .theme-switcher-menu .light-mode
      display: none

@media (prefers-color-scheme: dark)
  body:not(.light)
    .theme-switcher-menu .dark-mode
      display: none

.tooltip
  position: relative

  &::after,
  &::before
    top: 50%
    left: 100%
    position: absolute
    background-color: var(--text-primary)
    text-transform: initial
    display: none
    z-index: 2

  &::after
    color: var(--text-invert)
    font-size: var(--font-size)
    line-height: 18px
    content: attr(data-tooltip)
    white-space: nowrap
    margin-left: 13px
    transform: translateY(-50%)
    padding: 8px
    display: none

  &::before
    content: ""
    width: 12px
    height: 12px
    transform: rotate(45deg)
    margin-left: 9px
    margin-top: -6px

  &:hover::after,
  &:hover::before
    display: block

body
  &.dark .theme-switcher-menu .dark-mode,
  &.light .theme-switcher-menu .light-mode
    display: none

.theme-switcher-menu
  float: right
  margin-right: 8px

  button
    width: 48px
    height: 48px
    padding: 12px 8px
    color: var(--text-secondary)

    &:hover
      color: var(--button-secondary-hover)

.tabulator
  .flex-col,
  .tabulator-row .tabulator-cell.flex-col,
  .tabulator-tableholder .tabulator-table
    display: flex
    flex-direction: column

  .flex-row,
  .tabulator-row,
  .tabulator-row .tabulator-cell.flex-row
    display: flex
    flex-direction: row

#common-names
  .toolbar
    display: flex
    flex-direction: row-reverse
    margin-bottom: 8px

    button,
    input[type=text]
      height: 52px
      background: var(--background-secondary)
      border: thin solid var(--border-primary)

    button
      width: 64px
      margin-right: 12px
      font-size: 36px
      border-radius: 0
      color: var(--icon-primary)

      &:hover, &:active, &:focus
        border-color: var(--field-focus-border)
        background-color: var(--code-background-inline)

    label[for=filter]
      width: 100%
      display: flex
      color: var(--icon-primary)

      span
        width: 0
        z-index: 1
        padding-left: 16px
        margin-top: 15px

    input[type=text]
      width: 100%
      padding: 12px
      padding-left: 48px
      margin-left: -16px
      color: var(--text-primary)
      border-radius: 0

      &:focus
        outline: none
        border-color: var(--field-focus-border)

      &::after
        content: "refresh"

  &.toggle-caps #toggle-caps,
  &.toggle-articles #toggle-articles
    color: var(--icon-information)
    background: var(--background-information)

  &.toggle-caps .common-names::first-letter
    text-transform: uppercase

  &:not(.toggle-articles) .article
    display: none

  .tabulator
    background-color: var(--background-primary)

  .tabulator-header
    display: none

  .tabulator-row
    border-bottom: none

    &.tabulator-selectable:hover
      cursor: initial
      background-color: inherit

  .tabulator-cell
    &.content
      padding: 8px 0
      line-height: 24px

      /* Prevent long tooltips from being cut off. */
      overflow: visible

    .photo
      float: left
      height: 64px
      width: 64px
      margin-right: 8px
      background: var(--background-information)
      background-position: center
      background-repeat: no-repeat
      background-size: cover

    .common-names
      line-height: 28px

      sup
        color: var(--accent-primary)
        cursor: pointer
        font-weight: normal
        font-size: 12px

      span:not(.article)::before
        content: ", "

    .scientific-name
      color: var(--text-secondary)
      font-size: 14px

      em
        font-family: "Noto Serif", serif
        font-style: italic

      .syn-marker
        color: var(--text-inactive)
        border-bottom: thin dashed var(--border-secondary)

  .ext
    .chip
      font-size: 12px
      line-height: 32px
      border-radius: 16px
      margin-left: 12px
      padding-right: 12px
      text-transform: uppercase
      color: var(--text-secondary)
      background-color: var(--background-secondary)
      border: thin solid var(--border-secondary)

      &.match
        color: var(--icon-success)
        background-color: var(--background-success)

      &.near-match
        color: var(--icon-warning)
        background-color: var(--background-warning)

      &.missing,
      &.mismatch
        color: var(--icon-critical)
        background-color: var(--background-critical)

      .tooltip::after
        font-size: 14px

    .inaturalist::before
      content: ""
      display: block
      height: 32px
      width: 32px
      margin-right: 8px
      border: 4px solid white
      border-radius: 24px
      background-size: contain
      background-image: url(https://duckduckgo.com/ip3/inaturalist.org.ico)
      background-color: white

.page-footer-legal-text
  .theme-name::after
    content: "MDN Yari"
    cursor: text
  .theme-license
    &::before
      content: "MPL-2.0"
    &::after
      display: none
      content: "https://github.com/mdn/yari/blob/main/LICENSE"
  .placeholder
    display: none
